{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<section class="login">
    <div class="flex w-full h-screen">
        <div class="w-0 md:w-1/2">
            <img class="w-full h-full object-center"
                 src="{% static 'assets/images/register-background.jpeg' %}"
                 alt=""/>
        </div>
        <div class="w-full max-w-md mx-auto flex flex-col justify-center px-8">
            <div class="notification px-2 py-3 bg-green-100 text-green-700 rounded-md">
                 Your new password has been set successfully. You may go ahead and
                <a class="text-blue-700 hover:underline"
                   href="{% url 'account_login' %}">LogIn Here
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}