{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<section class="password-reset">
    <div class="flex w-full h-screen">
        <div class="w-0 md:w-1/2">
            <img class="w-full h-full object-center"
                 src="{% static 'assets/images/register-background.jpeg' %}"
                 alt=""/>
        </div>
        <div class="w-full max-w-md mx-auto flex flex-col justify-center px-8">
            <form class="login-form w-full" method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <fieldset class="flex flex-col justify-center space-y-4">
                    <legend class="text-center font-bold text-3xl mb-4">Reset Password</legend>
                    <div class="flex flex-col text-sm">
                        <label for="email">{{form.email.label}}</label>
                        <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                               type="email" name="email" id="email" required placeholder="Your account email"/>
                        <span class="text-red-700 py-1 px-2">{{form.errors.email}}</span>
                    </div>
                    <button class="p-2 mt-4 bg-blue-600 text-white hover:bg-blue-700 outline-none rounded-md"
                            type="submit">Request password reset link
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</section>
{% endblock content %}