{% extends 'users/base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
<section class="register">
    <div class="flex w-full h-screen">
        <div class="w-0 md:w-1/2">
            <img class="w-full h-full object-center"
                 src="{% static 'assets/images/register-background.jpeg' %}"
                 alt=""/>
        </div>
        <div class="w-full max-w-md mx-auto flex items-center px-8">
            <form class="register-form w-full" method="POST">
                {% csrf_token %}
                <fieldset class="flex flex-col justify-center space-y-4">
                    <legend class="w-full font-bold text-3xl text-center">Join Today</legend>
                    <div class="register__oauth flex flex-col gap-1 text-center">
                        <p class="text-xl font-medium">Register for free to start blogging.</p>
                        <a class="p-2 mt-4 bg-blue-600 text-white hover:bg-blue-700 outline-none rounded-md flex items-center justify-center gap-4"
                           href="{% provider_login_url 'google' action='reauthenticate' %}">
                            <span class="text-center w-6 h-6 bg-icon-google"></span>
                            Register with Google
                        </a>
                        <a class="p-2 mt-4 bg-blue-600 text-white hover:bg-blue-700 outline-none rounded-md flex items-center justify-center gap-4"
                           href="{% provider_login_url 'github' %}"><span class="w-6 h-6 bg-icon-github"></span>Register
                            with
                            Github
                        </a>
                        <a class="p-2 mt-4 bg-blue-600 text-white hover:bg-blue-700 outline-none rounded-md flex items-center justify-center gap-4"
                           href="{% provider_login_url 'twitter' %}"><span class="w-6 h-6 bg-icon-twitter"></span>Register
                            with
                            Twitter
                        </a>
                        <hr class="my-4 border border-gray-300"/>
                        <p class="text-xl font-medium">Register with your email address</p>
                    </div>
                    {% if form.non_field_errors %}
                    <div class="notification px-2 py-4 bg-red-100 text-red-700 text-sm">
                        <ul class="list-disc px-4 text-white">
                            {% for error in field.non_field_errors %}
                            <li>{{error}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="flex flex-col md:flex-row gap-2 text-sm">
                        <div class="flex flex-col">
                            <label for="first_name">{{form.first_name.label}}</label>
                            <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                   type="text" name="first_name" id="first_name" placeholder="Your first name"/>
                            {% if form.errors.first_name %}
                            <span class="text-red-700 px-2 py-1">{{form.errors.first_name}}</span>
                            {% endif %}
                        </div>
                        <div class="flex flex-col">
                            <label for="last_name">{{form.last_name.label}}</label>
                            <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                   type="text" name="last_name" id="last_name" placeholder="Your last name"/>
                            {% if form.errors.last_name %}
                            <span class="text-red-700 py-1 px-2">{{form.errors.last_name}}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex flex-col text-sm">
                        <label for="email">{{form.email.label}}</label>
                        <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                               type="email" name="email" id="email" required placeholder="Your email"/>
                        {% if form.errors.email %}
                        <span class="text-red-700 py-1 px-2">{{form.errors.email}}</span>
                        {% endif %}
                    </div>
                    <div class="flex flex-col text-sm">
                        <label for="password1">{{form.password1.label}}</label>
                        <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                               type="password" name="password1" id="password1" required placeholder="Your password"/>
                        {% if form.errors.password1 %}
                        <span class="text-red-700 py-1 px-2">{{form.errors.password1}}</span>
                        {% endif %}
                    </div>
                    <div class="flex flex-col text-sm">
                        <label for="password2">{{form.password2.label}}</label>
                        <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                               type="password" name="password2" id="password2" required
                               placeholder="Your confirmation password"/>
                        {% if form.errors.password2 %}
                        <span class="text-red-700 py-1 px-2">{{form.errors.password2}}</span>
                        {% endif %}
                    </div>
                    <button class="p-2 mt-4 bg-blue-600 text-white hover:bg-blue-700 outline-none rounded-md"
                            type="submit">Register
                    </button>
                </fieldset>
                <div class="text-center mt-2 w-full">
                    <small>Already have an account? <a class="text-blue-700 hover:underline"
                                                       href="{% url 'account_login' %}">Login</a></small>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}