{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<section class="email-verification-sent">
    <div class="flex w-full h-screen">
        <div class="w-0 md:w-1/2">
            <img class="w-full h-full object-center"
                 src="{% static 'assets/images/register-background.jpeg' %}"
                 alt=""/>
        </div>
        <div class="w-full md:w-1/2 mx-auto flex flex-col justify-center px-16">
            <p>
                We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.
                Please contact us if you do not receive it within a few minutes.
            </p>
        </div>
    </div>
</section>
{% endblock content %}