{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<section class="password-reset-confirm">
    <div class="flex w-full h-screen">
        <div class="w-0 md:w-1/2">
            <img class="w-full h-full object-center"
                 src="{% static 'assets/images/register-background.jpeg' %}"
                 alt=""/>
        </div>
        <div class="w-full max-w-md mx-auto flex flex-col justify-center px-8">
            <form class="login-form w-full" method="POST">
                {% csrf_token %}
                <fieldset class="flex flex-col justify-center space-y-4">
                    <legend class="text-center font-bold text-3xl">Reset Password</legend>
                    {% if form.errors %}
                    <div class="notification px-2 py-4 bg-red-100 text-red-700 text-sm" role="alert">
                        <p>Please fix the following errors first:</p>
                        <ul class="list-disc px-4">
                            {% for field in form %}
                                {% if field.errors %}
                                    <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="flex flex-col text-sm">
                        <label for="new_password1">New Password</label>
                        <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                               type="password" name="new_password1" id="new_password1" required
                               placeholder="Your new password"/>
                    </div>
                    <div class="flex flex-col text-sm">
                        <label for="new_password2">New Password Confirmation</label>
                        <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                               type="password" name="new_password2" id="new_password2" required
                               placeholder="Confirm Password"/>
                    </div>
                    <button class="p-2 mt-4 bg-blue-600 text-white hover:bg-blue-700 outline-none rounded-md"
                            type="submit">Change password
                    </button>
                </fieldset>
            </form>
        </div>
    </div>
</section>
{% endblock content %}