{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<section class="register">
    <div class="flex w-full h-screen">
        <div class="w-0 md:w-1/2">
            <img class="w-full h-full object-center"
                 src="{% static 'images/register-background.jpeg' %}"
                 alt=""/>
        </div>
        <div class="w-full max-w-md mx-auto flex items-center px-8">
            <form class="register-form w-full" method="POST">
                {% csrf_token %}
                <fieldset class="flex flex-col justify-center space-y-4">
                    <legend class="font-bold text-3xl text-center">Join Today</legend>
                    {% if form.errors %}
                    <div class="notification px-2 py-4 bg-red-400 text-sm">
                        <p class="text-white">Please fix the following errors:</p>
                        <ul class="list-disc px-4 text-white">
                            {% for field in form %}
                            {% if field.errors %}
                            {% for error in field.errors %}
                            <li>{{field.label}}: {{error}}</li>
                            {% endfor %}
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    {% endif %}
                    <div class="flex flex-col md:flex-row gap-2 text-sm">
                        <div class="flex flex-col">
                            <label for="first_name">{{form.first_name.label}}</label>
                            <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                   type="text" name="first_name" id="first_name" placeholder="Your first name"/>
                        </div>
                        <div class="flex flex-col">
                            <label for="last_name">{{form.last_name.label}}</label>
                            <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                                   type="text" name="last_name" id="last_name" placeholder="Your last name"/>
                        </div>
                    </div>
                    <div class="flex flex-col text-sm">
                        <label for="">{{form.email.label}}</label>
                        <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                               type="email" name="email" id="email" required placeholder="Your email"/>
                    </div>
                    <div class="flex flex-col text-sm">
                        <label for="">{{form.password1.label}}</label>
                        <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                               type="password" name="password1" id="password1" required placeholder="Your password"/>
                    </div>
                    <div class="flex flex-col text-sm">
                        <label for="">{{form.password2.label}}</label>
                        <input class="rounded-md p-2 text-sm border focus:border-blue-400 focus:outline-none focus:ring-1 focus:ring-blue-600"
                               type="password" name="password2" id="password2" required
                               placeholder="Your confirmation password"/>
                    </div>
                    <button class="p-2 mt-4 bg-blue-600 text-white hover:bg-blue-700 outline-none rounded-md"
                            type="submit">Register
                    </button>
                </fieldset>
                <div class="text-center mt-2">
                    <small>Already have an account? <a class="text-blue-700 hover:underline"
                                                       href="{% url 'users-login' %}">Login</a></small>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock content %}